<% include ./partials/header %>
  
<main role="main" class="container">
  <div class="tasks">
   <h1>Index | Tasks</h1>
   <ul class="list-group" id="taskList">
      <% tasks.forEach(function(task){ %>
     <li class="list-group-item" draggable="true"><%= task.title %></li>
      <% }); %>
   </ul>
  </div>

</main><!-- /.container -->
<% include ./partials/footer %>