<% include ./partials/header %>
  
<main role="main" class="container">
  <div class="tasks">
   <h1>Index | Tasks</h1>
   <ul class="list-group" id="taskList">
     <li class="list-group-item" draggable="true">Cras justo odio</li>
     <li class="list-group-item" draggable="true">Dapibus ac facilisis in</li>
     <li class="list-group-item" draggable="true">Morbi leo risus</li>
     <li class="list-group-item" draggable="true">Porta ac consectetur ac</li>
     <li class="list-group-item" draggable="true">Vestibulum at eros</li>
   </ul>
  </div>

</main><!-- /.container -->
<% include ./partials/footer %>