body {
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
  color: #3e454c;
  background-color: #ffffff;
  padding-top: 5rem;
}

.task-input, #addTask{
  font-size: 1.6rem; 
}

.task-entry{
   padding-top: 2em;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}

.datepicker{
   float: right;
   padding-right: 2em;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 15%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-5ths {
        width: 15%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-5ths {
        width: 15%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 15%;
        float: left;
    }
}